.bg-dark{
    height: 30px;
}

.container-fluid{
    border: 2px solid black;
}
.container{
    border: 2px solid red;
}
.row{
    border: 1px solid blueviolet;
}
.my-container{
    border: 2px solid salmon;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.my-card{
    border:1px solid blue;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
img{
    border-radius: .5rem;   
}
.my-img-box{
    border: 1px solid gold;
    width: calc(100% / 5);   
}
.bg-banner{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
}
.bg-banner2{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}
.bg-banner3{
    background-image: url('../img/ps-plus-april-monthly-games-featured-image-block.png');
    background-position: right;
    background-color: gray;
    background-size: contain;
    background-repeat: no-repeat;
}
.my-bg-blue{
    background-color: rgb(6, 6, 42);   
}
.my-p{
    padding: 3rem;
}
.my-btn{
    width: 200px;
}
ul{
    list-style-type: none;  
}

@media screen and (max-width: 576px){
    .my-img-box{
        border: 1px solid gold;
        width: calc(100% / 3);   
    }
    .my-container{
        border: 2px solid salmon;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    
}

@media  screen and (max-width: 768px) {
    .my-hide{
        display: none;
    }
    .my-p{
        padding: 1rem;
    }
    .bg-banner3{
        background-image: url('');
        background-position: right;
        background-color: gray;
        background-size: contain;
        background-repeat: no-repeat;
    }


    
}
    
