.bg-dark{
    height: 30px;
}
.jumbotron{
    
}
.container-fluid{
    border: 2px solid black;
}
.container{
    border: 2px solid red;
}
.row{
    border: 1px solid blueviolet;
}
.my-container{
    border: 2px solid salmon;
}
.card{
    border:1px solid blue;
    height: 100%;
    border-radius: .5rem;
    margin-bottom: 1rem;
}
img{
    border-radius: .5rem;
    
}